/* Stile globale per tutti gli elementi: imposta il font principale e le sue proprietà */
* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Rimuove il margine di default dal body per un layout più pulito */
body {
    margin: 0;
}