<footer class="footer bg-white text-dark p-5 shadow-lg mt-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-12 col-md-5 text-center text-md-start">
                <!-- Logo torna alla home -->
                <a [routerLink]="['/']">
                    <img src="/BorzLogo.png" alt="Logo Borz" class="mb-3 d-block mx-auto d-md-inline-block"
                        style="max-width:150px;">
                </a>
                <p class="small lh-lg mx-auto mx-md-0">
                    Borz è specializzato nella vendita e installazione di
                    attrezzature professionali per la ristorazione a Rovereto (TN).
                    Offriamo forni, lavastoviglie, apparecchiature in acciaio inox
                    e soluzioni complete per le esigenze della ristorazione professionale.
                </p>
            </div>

            <div class="col-6 col-md-3 text-md-end">
                <h6 class="text-uppercase border-bottom pb-2 mb-3">Collegamenti</h6>
                <ul class="list-unstyled small">
                    <li class="py-1 my-2">
                        <a [routerLink]="['/']" class="text-dark text-decoration-none hover-primary">
                            Home
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a [routerLink]="['/cottura']" class="text-dark text-decoration-none hover-primary">
                            Cottura
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a [routerLink]="['/preparazione']" class="text-dark text-decoration-none hover-primary">
                            Preparazione
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a [routerLink]="['/lavaggio']" class="text-dark text-decoration-none hover-primary">
                            Lavaggio
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a [routerLink]="['/refrigerazione']" class="text-dark text-decoration-none hover-primary">
                            Refrigerazione
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a [routerLink]="['/lavelli']" class="text-dark text-decoration-none hover-primary">
                            Lavelli
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a [routerLink]="['/bar']" class="text-dark text-decoration-none hover-primary">
                            Bar e accessori
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a [routerLink]="['/contatti']" class="text-dark text-decoration-none hover-primary">
                            Contatti
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-4 text-end">
                <h6 class="text-uppercase border-bottom pb-2 mb-3">Contatti</h6>
                <ul class="list-unstyled small">
                    <li class="py-1 my-2">
                        <a href="https://maps.app.goo.gl/9nsDrRk1Fke5k6z28" target="_blank"
                            class="text-dark text-decoration-none hover-primary">
                            Via del Garda, 42 - 38068 Rovereto (TN)
                            <i class="m-2 bi bi-geo-alt" style="font-size:20px;"></i>
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a href="tel:+390464437719" class="text-dark text-decoration-none hover-primary">
                            +39 0464 437719
                            <i class="m-2 bi bi-telephone" style="font-size:20px;"></i>
                        </a>
                    </li>
                    <li class="py-1 my-2">
                        <a href="mailto:info@borz.it" class="text-dark text-decoration-none hover-primary">
                            info&#64;borz.it
                            <i class="m-2 bi bi-envelope" style="font-size:20px;"></i>
                        </a>
                    </li>
                    <div class="mt-2">
                        <a href="https://x.com/BorzStore" target="_blank"><i class="m-2 bi bi-twitter-x"
                                style="font-size:20px;"></i></a>
                        <a href="https://www.linkedin.com/company/borz-cucine-industriali/?originalSubdomain=it" target="_blank">
                            <i class="m-2 bi bi-linkedin" style="font-size:20px;"></i>
                        </a>
                        <a href="https://www.instagram.com/borzcucine/?hl=it" target="_blank">
                            <i class="m-2 bi bi-instagram" style="font-size:20px;"></i>
                        </a>
                        <a href="https://www.facebook.com/BorzCucine/" target="_blank">
                            <i class="m-2 bi bi-facebook" style="font-size:20px;"></i>
                        </a>
                    </div>
                </ul>
            </div>
        </div>

        <hr class="my-4">
        <div class="d-flex flex-column flex-md-row justify-content-between small">
            <span>&copy; 2025 Borz. P.IVA IT02389140225. All Rights Reserved.</span>
            <span>Usiamo pagamenti sicuri e garantiti.</span>
        </div>
    </div>
</footer>